.mobileButton, .mp3Button, .clearButton, .displayAllButton, .makeACallButton, .downloadMusicButton {
    -fx-background-color: #2A2A2A;
    -fx-text-fill: #E0E0E0;
}

.mobileButton:hover, .mp3Button:hover, .clearButton:hover, .displayAllButton:hover, .makeACallButton:hover, .downloadMusicButton:hover {
    -fx-background-color: #3A3A3A;
}
